<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-1 col-md-4"></div>
                <div class="col-xs-10 col-md-4">
                    <form action="/login" method="post">
                        <legend id="loginForm">Login</legend>
                        <div class="form-group">
                            <label for="Username">Username</label>
                            <input name="UserName" type="text" class="form-control" id="Username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input name="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-info">Submit</button>
                    </form>
                    <br/>
                    <br/>

                    <form action="/register" method="post">
                        <legend id="registerForm">Register</legend>
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input name="FullName" type="text" class="form-control" id="exampleInputEmail1" placeholder="First Last">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input name="UserName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input name="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-xs-1 col-md-4"></div>
            </div>
        </div>
  </body>
</html>
