body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#loginForm{
  color: #46b8da;
  background-color: white
}

#registerForm{
  color: #337ab7;
  background-color: white
}

.message{
  border-radius: 25px;
  border: 2px solid #AAAAAA;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.message2{
  border-radius: 25px;
  border: 2px solid black;
  padding: 5px;
}

.messageInfo{
  font-size: 75%;
}

#the-sticky-div.sticky {
  position: fixed;
  top: 0;
  padding-top: 20px
}
