<!DOCTYPE html>
<html>
    <head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
			integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/javascripts/jquery-1.12.0.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                    <div id="the-sticky-div">
                        <a class="btn btn-primary" href='/forum/newPost'>New Post</a>
                        <br/>
                        <br/>
                        <a class="btn btn-danger" href='/logout'>Logout</a>
                    </div>
                </div>
                <div class="col-md-10">
                    <h1>Welcome <%=user.FullName%></h1>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Date Posted</th>
                        </tr>
                        <% for(var i=0; i<posts.length; i++){%>
                        <tr>
                            <th>
                                <a href="/forum/<%= posts[i]._id %>"><%= posts[i].title %></a>
                            </th>
                            <th>
                                <%= posts[i].user.UserName %>
                                <% if (posts[i].permission){%>
                                <a class="btn btn-danger btn-sm" href="/forum/deletePost/<%=posts[i]._id%>">X</a>
                                <% }%>
                            </th>
                            <th><%= posts[i].date %> <%= posts[i].from %></th>
                        </tr>
                        <%}%>
                    </table>
                </div>
            </div>
        </div>
        <script src="/javascripts/Forum.js"></script>
    </body>
</html>
