<!DOCTYPE html>
<html>
  <head>
    <title>New Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>New Post</h1>
          <form action="/forum/newPost" method="post">
            <div class="form-group">
              <label for="postTitle">Title</label>
              <input name="title" type="text" class="form-control" placeholder="Title">
            </div>
            <div class="form-group">
              <label for="postMessage">Message</label>
              <textarea rows="8" name="message" type="text" class="form-control" placeholder="Message...."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
