<!DOCTYPE html>
<html>
    <head>
        <title><%=post.title%></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/javascripts/jquery-1.12.0.min.js"></script>
    </head>
    <body>
        <div id="divContainer">
            <div class="row">
                <div class="col-md-1">
                    <div id="the-sticky-div">
                        <a class="btn btn-info" href="/forum">Back to Forum</a>
                        <br/>
                        <br/>
                        <a class="btn btn-danger" href='/logout'>Logout</a>
                    </div>
                </div>
                <div class="col-md-10">
                    <h1><%=post.title%></h1>
                    <% for(var i=0; i< messages.length; i++){%>
                    <div class="message2">
                        <div class="message">
                            <span class="messageInfo"><%= messages[i].user.UserName %> --- </span>
                            <span class="messageInfo"><%= messages[i].date %> <%= messages[i].from %></span>
                            <% if (messages[i].permission){ %>
                            <a class="btn btn-warning editButton btn-sm">Edit</a>
                            <a href="/forum/deleteMessage/<%= messages[i]._id%>" class="btn btn-danger btn-sm">X</a>
                            <input hidden value="<%= messages[i]._id%>">
                            <% } %>
                            <p><%= messages[i].message %></p>
                        </div>
                    </div>
                    <%}%>
                    <form method="post">
                        <div class="form-group">
                            <label for="message">Reply</label>
                            <textarea rows="4" name="message" type="text" class="form-control" placeholder="Message...."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="/javascripts/Post.js"></script>
    </body>
</html>
